.notification-wrapper {
  display: flex;
  position: fixed;
  top: calc(75px + 1rem + 4vh);
  right: 1rem;
  flex-direction: column;
  transition: height 0.5s;
  z-index: 4;
  font-size: 1.25rem;
  gap: 1rem;
  pointer-events: none;
}

.notification-wrapper * {
  pointer-events: auto;
}

.notification-item {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  border: 2px solid;
  border-bottom: none;
  border-radius: var(--border-radius);
  background-image: url(../assets/images/bg-notification.webp);
  background-size: cover;
  width: max-content;
  overflow: hidden;
  animation: SlideLeft 0.5s;
  animation-fill-mode: forwards;
}

@keyframes SlideLeft {
  0% {
    transform: translateX(120%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes SlideRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(120%);
  }
}

.close-notification {
  animation: SlideRight 0.5s;
  animation-fill-mode: forwards;
}

.notification-body {
  display: flex;
  align-items: center;
  background-color: var(--black-overlay);
  padding: 0.75rem 1rem;
  gap: 0.5rem;
}

.notification-body img {
  width: 1em;
}

.notification-item .bar {
  width: 100%;
  height: 0.33rem;
}

.success {
  border-color: var(--success);
  color: var(--success);
}

.error {
  border-color: var(--error);
  color: var(--error);
}

.info {
  border-color: var(--info);
  color: var(--info);
}

.notification-item.success .bar {
  background-color: var(--success);
}

.notification-item.error .bar {
  background-color: var(--error);
}

.notification-item.info .bar {
  background-color: var(--info);
}

@media only screen and (max-width: 768px) {
  .notification-wrapper {
    font-size: 0.75rem;
    gap: 0.5rem;
    top: calc(50px + 0.5rem + 4vh);
    right: 0.5rem;
  }

  .notification-body {
    display: flex;
    align-items: center;
    background-color: var(--black-overlay);
    padding: 0.5rem;
    gap: 0.25rem;
  }
}
