.leaderboard {
  display: flex;
  background: url('../../assets/images/bg-leaderboard.webp');
  font-size: 1.25rem;
}

.leaderboard__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--black-overlay);
  padding: 2rem;
  min-width: 400px;
}

.leaderboard h1,
.leaderboard h2 {
  text-transform: uppercase;
}

.leaderboard h1 {
  margin-bottom: -0.25rem;
  text-align: center;
  font-size: 3.5rem;
}

.leaderboard h1 + p {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.scores {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  min-height: 220px;
  text-align: center;
  color: var(--white);
  gap: 0.5rem;
}

.score--header {
  color: var(--yellow);
  font-size: 2rem;
}

.score,
.score--header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.preloader {
  flex: 1;
  align-self: center;
}

.player-score {
  margin-top: auto;
  color: var(--info);
}

.game-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  min-height: 75px;
  text-align: center;
  color: var(--yellow);
}

.game-results button {
  margin-top: 0.5rem;
  padding: 0 1.5rem;
}

.btn--retry {
  border-radius: var(--border-radius);
  font-size: 2.5rem;
}

.btn--submit {
  font-size: 1.25rem;
}

.btn--retry,
.btn--submit {
  transition: color 0.2s;
  border: var(--border);
  background-color: var(--yellow-overlay);
  cursor: pointer;
  text-transform: uppercase;
  color: var(--white);
}

.btn--retry:hover,
.btn--submit:hover {
  color: var(--yellow);
}

@media only screen and (max-width: 768px) {
  .leaderboard {
    font-size: 1rem;
  }

  .leaderboard__content {
    padding: 2rem;
    min-width: 315px;
  }
}
