.welcome {
  display: flex;
  justify-content: flex-end;
  background-image: url('../../assets/images/bg-welcome.webp');
  max-width: 650px;
  font-size: 1.25rem;
}

.welcome__content {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  background-color: var(--black-overlay);
  padding: 2rem;
}

.welcome__content h1 {
  margin-bottom: -0.25rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.welcome__content h1 + p {
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--white);
}

.welcome input[type='text'] {
  transition: all 0.2s;
  margin: 0.75rem 0;
  outline: none;
  border: var(--border);
  background-color: var(--yellow-overlay);
  padding: 0.25rem 0.5rem;
  text-shadow: none;
  color: var(--white);
}

.welcome input[type='text']:focus {
  border-color: var(--white);
}

.robots {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  gap: 1rem;
}

.robot-description {
  display: flex;
  gap: 1rem;
}

.robots img {
  border: var(--border);
  border-radius: var(--border-radius);
  width: 75px;
}

.robot-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.robot-origin {
  color: var(--white);
  font-size: 0.75em;
}

.btn--start {
  transition: color 0.2s;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--yellow-overlay);
  cursor: pointer;
  text-transform: uppercase;
  color: var(--white);
  font-size: 2.5rem;
}

.btn--start:hover {
  color: var(--yellow);
}

@media only screen and (max-width: 768px) {
  .welcome {
    font-size: 1rem;
  }

  .welcome__content {
    flex: 1;
    padding: 1.5rem;
  }

  .robot-info {
    font-size: 1.5rem;
  }
}
