.game {
  display: flex;
  max-width: 100vw;
  overflow: auto;
}

@media only screen and (max-width: 1024px) {
  .main-robot-city {
    max-width: 250vw;
  }
}

@media only screen and (min-width: 1921px) {
  .main-robot-city {
    width: 100vw;
  }
}
