.game {
  display: flex;
  max-width: 100vw;
  overflow: auto;
}

.main-robot-city {
  min-height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .main-robot-city {
    max-width: 250vw;
  }
}
