.btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  border: var(--border);
  border-radius: var(--border-radius);
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 2rem;
}

.btn-image {
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.btn-overlay {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.btn-overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black-overlay);
  width: 100%;
  height: 100%;
  content: '';
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}

.btn-content {
  display: flex;
  align-items: center;
  z-index: 1;
  padding: 1rem;
  padding-left: 1.5rem;
  gap: 0.25em;
}

.btn-content img {
  width: 1.125em;
  height: auto;
}

/* Specific buttons sizing  */
.btn--logo .btn-image {
  width: 270px;
}

.btn--timer .btn-image {
  width: 300px;
}

.btn--github .btn-image {
  width: 250px;
}

.btn--credits .btn-image {
  width: 320px;
}

.btn--credits {
  font-size: 1.75rem;
}

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 1rem;
  }

  .btn-content {
    padding: 0.5rem;
    padding-left: 1rem;
  }

  .btn--timer .btn-image {
    width: 170px;
  }

  .btn--github .btn-image {
    width: 140px;
  }

  .btn--credits .btn-image {
    width: 190px;
  }
}
