.intro {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url('../../assets/images/intro-bg.webp');
}

.btn--start {
  transition: all 0.2s ease-in-out;
  margin-top: 16px;
  border: 2px solid var(--yellow);
  background-color: var(--yellow-overlay);
  cursor: pointer;
  padding: 0 3rem;
  text-transform: uppercase;
  color: var(--white);
  font-family: inherit;
  font-size: 2.5rem;
  -webkit-text-stroke: 0;
}

.btn--start:hover {
  border: 2px solid var(--yellow);
  color: var(--yellow);
}

.intro input[type='text'] {
  all: unset;
  align-self: stretch;
  transition: all 0.2s ease-in-out;
  margin: 10px 0;
  border: 2px solid var(--yellow);
  background-color: var(--yellow-overlay);
  padding: 4px 8px;
  color: var(--white);
  font-size: 1.25rem;
  -webkit-text-stroke: 0;
}

.intro input[type='text']:focus {
  border: 2px solid var(--white);
}

.intro__content {
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black-overlay);
  padding: 2rem;
  font-size: 1.25rem;
}

.intro__content h2 {
  text-transform: uppercase;
  font-size: 3.5rem;
}

.intro__content h5 {
  margin-bottom: 32px;
  color: var(--white);
}

.intro__content p {
  margin: 8px 0;
}

.robots {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  margin: 20px 0;
  gap: 16px;
}

.robot-description {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.robot-description img {
  border: 2px solid var(--yellow);
  width: 100px;
  height: auto;
}

.robot-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.75rem;
}

.robot-name p {
  margin: 0;
}

.robot-origin {
  color: var(--white);
  font-size: 1.25rem;
}
