html {
  /* COLORS */
  --yellow: hsl(41, 94%, 58%);
  --yellow-overlay: hsl(41, 94%, 60%, 25%);
  --black: hsl(220, 21%, 5%);
  --black-overlay: hsl(220, 21%, 5%, 85%);
  --white: hsl(41, 94%, 98%);
  --success: hsl(84, 84%, 53%);
  --error: hsl(5, 85%, 45%);
  --info: hsl(206, 82%, 68%);
  /* OVERALL STYLING */
  --border: 2px solid var(--yellow);
  --border-radius: 0.35rem;
}

html {
  cursor: url('assets/images/cursor.webp') 16 16, auto;
  text-shadow: -2px 0 1px #000, 2px 0 1px black, 0 2px 1px #000, 0 -2px 1px #000,
    -1px -1px 1px #000, 1px 1px 1px #000, -2px -1px 1px #000, 2px 2px 1px #000;
  line-height: 1;
  color: var(--yellow);
  font-family: 'VT323', serif;
  scrollbar-width: thin;
  scrollbar-color: var(--yellow) var(--black-overlay);
  background-color: var(--black);
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background: var(--black-overlay);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
}

.app {
  display: flex;
  position: relative;
  flex-direction: column;
}
