nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 16px;
  pointer-events: none;
}

nav * {
  pointer-events: auto;
}
