.modal {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background-color: hsl(220, 21%, 5%, 95%);
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

.modal-content {
  border: var(--border);
  border-radius: var(--border-radius);
  height: min-content;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.modal-content::-webkit-scrollbar {
  width: 6px;
}

.modal-content::-webkit-scrollbar-track {
  background: var(--black-overlay);
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
}
